Repository telegraf/telegraf, pull requests merged in 2021-01, with the labels that each got.

#1271 Remove outdated, handwritten API reference
  docs/README.md
  docs/theme/assets/css/custom.css
  package-lock.json
  package.json
  readme.md
Labels: docs

#1275 Add `Scenes` namespace
  README.md
  docs/examples/scenes/scenes-bot-custom-context-and-scene-session.ts
  docs/examples/scenes/scenes-bot-custom-context-and-session-and-scene-session.ts
  docs/examples/scenes/scenes-bot-custom-context-and-session.ts
  docs/examples/scenes/scenes-bot-custom-context.ts
  docs/examples/scenes/scenes-bot-custom-scene-session.ts
  docs/examples/scenes/scenes-bot.ts
  docs/examples/wizards/wizard-bot-custom-context-and-scene-session.ts
  docs/examples/wizards/wizard-bot-custom-context-and-session-and-scene-session.ts
  docs/examples/wizards/wizard-bot-custom-context-and-session.ts
  docs/examples/wizards/wizard-bot-custom-context.ts
  docs/examples/wizards/wizard-bot-custom-scene-session.ts
  docs/examples/wizards/wizard-bot.ts
  src/index.ts
  src/scenes/index.ts
  src/scenes/stage.ts
Labels: breaking, docs

#1282 Fix copyMessage not working for channels
  package-lock.json
  package.json
  src/context.ts
  test/telegraf.js
Labels: bug, dependencies, enhancement, typings

#1280 Restore 3.38 names in session module
  src/index.ts
  src/session.ts
  test/telegraf.js
Labels: breaking, typings

#1300 Remove `MessageSubTypes`
  src/composer.ts
  src/context.ts
  src/telegram-types.ts
  tsconfig.json
Labels: bug, typings

#1307 Fix wizard example and add example of custom scene property
  docs/examples/wizards/wizard-bot-custom-context-and-scene-session.ts
  docs/examples/wizards/wizard-bot-custom-context-and-session-and-scene-session.ts
  docs/examples/wizards/wizard-bot-custom-context-and-session.ts
  docs/examples/wizards/wizard-bot-custom-context.ts
  docs/examples/wizards/wizard-bot-custom-scene-session.ts
Labels: docs

#1305 Rewrite docs
  .github/workflows/release-docs.yml
  README.md
  docs/theme/assets/css/custom.css
  docs/theme/layouts/default.hbs
  src/scenes/index.ts
  src/session.ts
  tsconfig.json
Labels: docs, help wanted
